body {
  text-align: center;
  background: #222;
  color: #fff;
  font-family: sans-serif;
}

canvas {
  border: 5px solid black;
  image-rendering: pixelated; /* preserve retro pixels */
  margin-top: 20px;
}

